/*===============================
         HOMEPAGE STYLING 
=================================*/
.jumbotron {
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #2F4F4F;
}

.jabtitle {
    font-size: 450%;
    color: white;
}

.lead {
    color: white;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.calctitle {
    font-size:150%; 
    font-weight: bold;
    color: #008B8B;

}
