
@{
    ViewBag.Title = "QuotationView";
}

<h2>QuotationView</h2>

<p class="quote-text">Based on the information you gave us, we could be covering you for: </p>
<br/>

@Html.TextBox("QuotationTotal") <!--Figure out how to show a figure between paragraphs-->

<br/>
<p class="quote-text">For more information, please contact your nearest agent!</p>
